{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="inner-container1">
            <img src="{% static 'images/1106.jpg' %}" alt="">
            <h2>The fountain of achievements</h2>
        </div>
        <div class="inner-container2">
            <form action="" method="POST" >
                {% csrf_token %}
                <h1>Administrator Authentication</h1>
                {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}
                <div class="inputs">
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <button type="submit">Login to Account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
