{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <script src="{% static 'javascript/admin_dashboard.js'%}"></script>
</head>

<body>
    <div class="left-nav">
        <div class="subnav1">
            <h2>Administrator</h2>
            <div class="profile">
                <img src="{% static 'images/me.jpg' %}" alt="" srcset="">
                <div class="username">
                    <h3>Administrator</h3>
                    <h4>administrator@gmail.com</h4>
                </div>
                <i class="ph ph-caret-down"></i>
            </div>
        </div>
        <div class="subnav2">
            <h3>Main menu</h3>
            <div class="links">
                <i class="ph ph-users-three"></i>
                <a href="#" onclick="showContent(event,'manage-users')">View all users</a>
            </div>
            <div class="links">
                <i class="ph ph-user-list"></i>
                <a href="#" onclick="showContent(event,'manage-instructors')"> Manage Instructors</a>
            </div>
            <div class="links">
                <i class="ph ph-student"></i>
                <a href="#" onclick="showContent(event,'manage-students')"> Manage students</a>
            </div>
        </div>
        <div class="subnav3">

        </div>
        <div class="subnav4">
            <i class="ph ph-power"></i>
            <a href="{% url 'logoutAdmin' %}">Logout Account</a>
        </div>
    </div>
    <div class="content">
        <div class="top-bar">
            <div class="search-bar">
                <form action="">
                    <i class="ph ph-magnifying-glass"></i>
                    <input type="text" placeholder="search">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="notification">
                <a href="#"><i class="ph ph-bell-ringing"></i></a>
                <div class="tutorial"><a href="#">Tutorial</a></div>
            </div>
        </div>
        <div class="manage-users" id="manage-users"></div>
        <div class="manage-instructors" id="manage-instructors">
            <div class="add-instructor">
                <a href="#"><i class="ph ph-plus"></i></a>
                <a href="#"><h2>Add instructor</h2></a>
            </div>
            <div class="view-instructor">
                <i class="ph ph-eye"></i>
                <a href="#"><h2>View instructor</h2></a>
            </div>
            <div class="update-instructor">
                <a href="#"><i class="ph ph-arrows-clockwise"></i></a>
                <a href="#"><h2>Update instructor</h2></a>
            </div>
            <div class="delete-instructor">
                <a href="#"><i class="ph ph-trash"></i></a>
                <a href="#"><h2>Delete instructor</h2></a>
            </div>
        </div>
        <div class="manage-students" id="manage-students"></div>
    </div>

</body>
</html>