
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
</head>
<body>
    <div class="left-nav">
        <div class="subnav1">
            <h2>Administrator</h2>
            <div class="profile">
                <img src="{% static 'images/me.jpg' %}" alt="" srcset="">
                <div class="username">
                    <h3>Administrator</h3>
                    <h4>administrator@gmail.com</h4>
                </div>
                <i class="ph ph-caret-down"></i>
            </div>
        </div>
        <div class="subnav2">
            <h3>Main menu</h3>
            <div class="links">
                <i class="ph ph-users-three"></i>
                <a href="#"> Manage users</a>
            </div>
            <div class="links">
                <i class="ph ph-user-list"></i>
                <a href="#"> Manage Instructors</a>
            </div>
            <div class="links">
                <i class="ph ph-user-square"></i>
                <a href="#"> Manage students</a>
            </div>
        </div>
        <div class="subnav3">
    
        </div>
        <div class="subnav4">
            <i class="ph ph-power"></i>
            <a href="{% url 'logoutAdmin' %}">Logout Account</a>
        </div>
    </div>
    <div class="content">
        <div class="top-bar">
            <div class="search-bar">
                <form action="">
                    <i class="ph ph-magnifying-glass"></i>
                    <input type="text" placeholder="search">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="notification">
                <a href="#"><i class="ph ph-bell-ringing"></i></a>
                <div class="tutorial"><a href="#">Tutorial</a></div>
            </div>
        </div>
    </div>
</body>
</html>







