{% extends 'base.html' %}
{% block content %}
<!-- header -->
 {% load static %}
<div class="header">
    <div class="logo">
        <img src="{% static 'images/logo 2.png'%}" alt="" srcset="" style="width: 200px; height: auto;">
    </div>
    <div class="links">
        <ul>
            <div class="student">
                <li><a href="#">Student</a><i class="fa-solid fa-angle-down"></i></li>
                <div class="student_dropdown">
                    <a href="{% url 'signup' %}">signup</a>
                    <a href="{% url 'login' %}">login</a>
                </div>
            </div>
            <!-- <div class="instructor">
                <li><a href="">Instructors</a><i class="fa-solid fa-angle-down"></i></li>
                <div class="student_dropdown">
                    <a href="">signup</a>
                    <a href="">login</a>
                </div>
            </div> -->
            <li><a href="">Contact</a></li>
            <li><a href="">Private policy</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
 </div>
 <!-- middle-section -->
  <div class="middle-section">
    <div class="right">
        <h2>Welcome to EduLearn-your gateway to knowledge</h2>
        <h3>"Explore, engage, and elevate your skills today!"</h3>
        <div class="button"><a href="{% url 'signup' %}"><button> Register</button></a> <a href="{% url 'login' %}"><button>Login as student</button></a></div>
    </div>
    <div class="left">
        <img src=" {% static 'images/course.png'%}" alt="" srcset="" style="width: 400px; height: 416px;">
        </div>
    </div>
  </div> 
     <!-- middle lower section  -->
      <div class="middle_lower_section">

      </div>
{%endblock content %}