{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/instructor-dash.css' %}">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <script src="{% static 'javascript/instructor_dash.js'%}"></script>
</head>

<body>
    <div class="left-nav">
        <div class="subnav1">
            <h2>Instructor</h2>
            <div class="profile">
                <img src="{% static 'images/me.jpg' %}" alt="" srcset="">
                <div class="username">
                    <h3>Braison Wabwire</h3>
                    <h4>instructor@gmail.com</h4>
                </div>
                <i class="ph ph-caret-down"></i>
            </div>
        </div>
        <div class="subnav2">
            <h3>Main menu</h3>
            <div class="links">
                <i class="ph ph-book"></i>
                <a href="#" onclick="showContent(event,'manage-courses')">Manage Course</a>
            </div>
            <div class="links">
                <i class="ph ph-student"></i>
                <a href="#" onclick="showContent(event,'manage-students')">Manage Students </a>
            </div>
            <div class="links">
                <i class="ph ph-paperclip"></i>
                <a href="#" onclick="showContent(event,'manage-assesments')"> Assignment and assesment</a>
            </div>
        </div>
        <div class="subnav3">

        </div>
        <div class="subnav4">
            <i class="ph ph-power"></i>
            <a href="{% url 'logoutAdmin' %}">Logout Account</a>
        </div>
    </div>
    <div class="content">
        <div class="top-bar">
            <div class="search-bar">
                <form action="">
                    <i class="ph ph-magnifying-glass"></i>
                    <input type="text" placeholder="search">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="notification">
                <a href="#"><i class="ph ph-bell-ringing"></i></a>
                <div class="tutorial"><a href="#">Tutorial</a></div>
            </div>
        </div>
        <div class="manage-courses" id="manage-courses">
            <h1>Hello Courses</h1>
        </div>
        <div class="manage-students" id="manage-students">
            <h1>Hello Courses</h1>
        </div>
        <div class="manage-assesments" id="manage-assesments">
            <h1>Hello Courses</h1>
        </div>
    </div>
</body>

</html>