{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="inner-container1">
            <img src="{% static 'images/1106.jpg' %}" alt="">
            <div class="home"><a href="{% url 'homepage' %}">Back to homepage</a> <i class="ph ph-arrow-right"></i></div>
            <h2>The fountain of achievements</h2>
        </div>
        <div class="inner-container2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1>Login to your account</h1>
                <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a><p>
                <div class="inputs">
                    <input type="text" placeholder="username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Login to Account</button>
                </div>
                </form>
        </div>
    </div>
{% endblock content %}
